<section class="question choice-generic">
  <div class="input-field">
    <input placeholder="Placeholder" id="{{company}}" type="text" class="validate">
    <label for="{{company}}">{{text}}</label>
  </div>
</section>
